* {
   margin: 0; 
   box-sizing: border-box; 
 }
 .clear
 {
   clear:both;
 }
 .container-outer {
  width: 1200px;
  margin: 0 auto;
  background-color: #EBECF2;
}
.container-inner{
  margin: 0px 24px;
}
header {
   width: 1200px;
   background-color: #384B59;
 }
.m {
  font-size: 18px;
  font-family: 'Quicksand';
  font-weight: 500;
  color: #363F45;
  line-height: 22px;
}
.ms-outer {
  padding: 20px 34px;
}
.ms {
  font-size: 16px;  
  font-family: 'Lato';
  font-weight: 400;
  color: #363F45;
  line-height: 19px;
  display: table-cell;
  padding: 0px 34px;
  vertical-align: middle;
} 
.rt {
  font-size: 16px;
  font-family: 'Quicksand';
  font-weight: 700;
  color: #363F45;
  line-height: 19px;
  padding-top: 18px;
  padding-left: 29px;
  vertical-align: middle;
}
h5{
  font-size: 18px;
  font-family: 'Quicksand';
  font-weight: 500;
  color: #363F45;
  line-height: 22px;
 }
.right-image{
  float: right;
}
.rectangle1 span {
  height: 20px;
  font-size: 16px;
  font-family: 'Quicksand';
  font-weight: 500;
  text-align: left;
  line-height: 19px;
  margin-left: 15px;
  color: #FFFFFF;
}
.body2.container-inner {
  margin: 0px 24px; 
}
.body3.container-inner {
  margin: 0px 24px; 
}
.body4.container-inner {
  margin: 0px 24px; 
}
.header7 {
  width: 114px;
  height: 20px;
  text-align: left;
  font-size: 16px;
  font-family: 'Quicksand';
  font-weight: 700;
  color: #363F45;
  padding-left: 29px;
  padding-top: 18px;
  float: left;
}
.logo {
   float: left;
   margin-top: 10px;
   margin-bottom: 10px;
 }
 .logoa {
   vertical-align: top;
   margin-top: 9px;
 }
 .logoa1 {
   margin-left: 60px;
 }
 .logoa1 img {
   margin-bottom: 10px;
 }
.logo5 {
   width: 4px;
   height: 17px;
   float: right;
   margin-top: -20px;
}
.logo6 {
  padding-top: 34px;
  text-align: center; 
}
.logo7 {
  padding-top: 32px;
  text-align: center; 
}
.logo8 {
  padding-top: 34px;
  text-align: center; 
}
.logo9 {
  padding-top: 32px;
  text-align: center; 
} 
.logo10 {
  margin-top: -18px;
  float:right; 
}
.logo11 {
  padding-left: 27px;
  float:right; 
}
.logo12 {
  padding-left: 386px;
}
.logo13 {
  padding-left: 388px;
} 
.LOGO {
  float: right;
}
.LOGO1 {
  padding-right: 27px;
}
 .box1 {
   padding-top: 28px;
   box-sizing: border-box;
   border-color: #FFFFFF;
   text-align: center;
   margin: 0 auto;
   background-color: #FFFFFF;
 }
 nav {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}
 .li1 {
   margin-right: 42px;
   position: relative;
 }
 .li1 span{
  position: absolute;
  line-height: 16px;
  top: 0px;
  right: 0px;
}
.li2 {
  margin-right: 32px;
}
ul a{
  width: 40px;
  height: 40px;
}
header nav ul a {
  display: inline-block;
}
 li a:hover {
  background-color: rgb(243, 188, 188,0.1);
}
 li {
  float:left;
 }
 ul {
  list-style-type: none;
 }
 nav ul {
   padding-left: 0px;
 }
 nav a {
   padding:10px;
 }
.circle {
   height: 19px;
   width: 19px;
   border-radius: 50%;
   background-color: #FE5621;
   color: #FFFFFF;
   text-align: center;
   font-size: 14px;
   font-family: 'Lato';
   font-weight: 400;
   position: absolute;
 }
 .circle1 {
   border-radius: 50%;
   width: 111px;
   text-align: center;
   margin: 0 auto;
   box-sizing: border-box;
 }
 .circle2 {
   border-radius: 50%;
   border: 2px solid #FFFFFF;
   height: 91px;
   text-align: center;
   margin: 0 auto;
   box-sizing: border-box;
   background-color: #F6EFD2; 
 }
.body1 {
   margin-top: 43px;
   display: inline-block;
 }
 .body2 {
   margin-top: 55px;
   display: inline-block; 
 }
 .body3 {
  display: inline-block;
}
.body4 {
  margin-top: 59px;
  margin-bottom: 111px;
  display: inline-block;
}
.footer1 {
   width: 72px;
   margin-top: 34px;
   margin-left: 15px;
   margin-right: 93px;
   font-size: 30px;
   font-family: 'Quicksand';
   font-weight: 500;
   text-align: left;
   line-height: 36px;
   color: #FFFFFF;
}

.footer8 {
  width: 332px;
  height: 13px;
  font-size: 11px;
  text-align: right;
  font-family: 'Lato';
  font-weight: 400;
  color: #9CAAB4;
  float: right;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-right: 24px;
}
.Rectangle {
   margin-top: 36px;
}
.Rectangle1 {
   margin-top: 21px;
}
.Rectangle2 {
   width: 1152px;
   height: 9px;
   margin-top: 31px;
   padding-top: 2px;
   padding-left: 2px;
   padding-bottom: 2px;
   background-color: #FFFFFF;
   border-radius: 4px; 
}
.Rectangle2 >span {
  float: left;
  height: 5px;
  padding-top: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #D4C69B;
}
.Rectangle3 {
  width:1152px;
}
.Rectangle4 {
   width: 332px;
   margin-bottom: 1px;
   margin-top: -8px;
   background-color: #E1E2E6;
   border-radius: 4px;
   float: right;
}
.Rectangle4 span {
  position: relative;
  float: left;
  height: 9px;
  border-radius: 4px;
  background-color: #5FCCC1;
}
.rectangle {
   margin-right: 24px;
   background-color: #FEC006;
   float: left;
 }
 .rectangle:nth-child(4) {
   margin-right: 0px;
 }
.rectangle1 {
   width: 180px;
   padding-top: 11px;
   float: left;
 }
 .yellow
 {
   background-color: #FEC006;
 }
 .pink
 {
   background-color: #E81D62;
 }
 .green
 {
   background-color: #8AC249;
 }
 .blue
 {
   background-color: #2095F2;
 }
.rectangle2 {
   height: 110px;
   text-align:center;
   float: right;
   background-color:rgba(255,255,255,0.1);/*0.1=Opacaity:10%*/
   width: 90px;
   box-sizing: border-box;
 }
 .rectangle2 img {
   margin-top: 34px;
 }
 .rectangle12 {
   width: 270px;
   margin-right: 24px;
   background-color: #FFFFFF;
   float: left; 
 }
 .rectangle12:nth-child(4) {
  margin-right: 0px;
}
.rectangle13 {
  height: 166px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #F1F1F1;  
}
.rectangle14 {
  height: 59px;
  text-align: center;
  clear: both;
  display: table;
  width: 100%;
}
 .darkgreen {
   border: 10px solid #8AC249;
 }
 .chromeyellow {
   border: 10px solid #FEC006;
 }
 .grey {
   border: 10px solid #F1F1F1;
 }
.rectangle24 {
   width: 564px;
   margin-right: 24px;
   background-color: #FFFFFF;
   float: left;
}
.rectangle24:nth-child(2) {
  margin-right: 0px;
  padding-bottom: 45px;
}
.rectangle25 {
 height: 56px;
/*  text-align: center; */
 border-bottom: 1px solid #F1F1F1;
}
.number {
   font-size: 30px;
   text-align: center;
   font-family: 'Quicksand';
   font-weight: 500;
   color: #363F45;
   padding-left: 22px;
   padding-top: 14px;
   padding-right: 22px; 
 }
 .number1  {
   font-size: 34px;
   color: #E1E2E9;
   font-family: 'Quicksand';
   font-weight: 700;
   line-height: 40px;
   padding-right: 22px;
   vertical-align: middle;
   display: table-cell;
 }
.number8 h5{
  line-height: 14px;
  text-align: center;
  font-size: 12px;
  color: #FFFFFF;
  font-family: 'Lato';
  font-weight: 400;
  padding-top: 2px;
}
 .percent {
   font-size: 16px;
   font-family: 'Quicksand';
   font-weight: 500;
   text-align: center;
   color: #363F45;
   padding-left: 40px;
   padding-right: 39px; 
 }
.List {
  width: 564px;
  float: right;
  margin-top: 0px;
  padding-left: 0px;
  border-bottom: 1px solid #F1F1F1;
}
.List1 {
  width: 564px;
  float: right;
  margin-top: 0px;
  padding-left: 0px;
  border-bottom: 1px solid #F1F1F1;
  background-color: #E1F5E3;
} 
.List2 {
  width: 564px;
  float: right;
  padding-left: 0px;
  margin-top: 0px; 
}
.List5 {
  margin-top: 0px;
  padding-top: 10px;
  padding-left: 29px;
  padding-right: 32px;
  padding-bottom: 41px;
}
.List6 {
  margin-top: 0px;
  padding-top: 42px;
  padding-left: 29px;
  padding-right: 32px;
  padding-bottom: 41px;
}
.List7 {
  margin-top: 0px;
  padding-top: 41px;
  padding-left: 29px;
  padding-right: 32px;
  padding-bottom: 56px;
}
.list {
  width: 70%;
  line-height: 16px;
  font-size: 14px;
  text-align: left;
  font-family: 'Lato';
  font-weight: 400;
  color: #919599;
  padding-left: 29px;
  padding-top: 20px;
  padding-bottom: 19px;
  float: left;
}
.list1 {
  width: 20%;
  line-height: 16px;
  font-size: 13px;
  text-align: center;
  font-family: 'Lato';
  font-weight: 400;
  color: #919599;
  float: right;
  padding-right: 27px;
  padding-top: 12px;
}
.list2 {
  width: 70%;
  line-height: 16px;
  font-size: 14px;
  text-align: left;
  font-family: 'Lato';
  font-weight: 400;
  color: #4BAE4F;
  padding-left: 29px;
  padding-top: 20px;
  padding-bottom: 19px;
  float: left;
}
.list3 {
  line-height: 16px;
  font-size: 14px;
  text-align: left;
  font-family: 'Lato';
  font-weight: 400;
  color: #919599;
  padding-left: 29px;
  padding-top: 20px;
  padding-bottom: 19px;
  float: left;
}
.list4 {
  width: 19%;
  line-height: 16px;
  font-size: 13px;
  text-align: center;
  font-family: 'Lato';
  font-weight: 400;
  float: right;
  padding-right: 26px;
  padding-top: 12px;
  color: #4BAE4F;
}
.list5 {
  width: 54px;
  height: 32px;
  font-size: 13px;
  text-align: center;
  font-family: 'Lato';
  font-weight: 400;
  color: #919599;
  padding-left: 239px;
  padding-right: 28px;
  padding-top: 12px;
  display: inline-block;
}
.list6 {
  font-size: 14px;
  text-align: left;
  font-family: 'Lato';
  font-weight: 400;
  color: #919599;
  padding-left: 29px;
  padding-top: 20px;
  padding-bottom: 19px;
  float: left;
}
.list7 {
  width: 52px;
  height: 32px;
  font-size: 13px;
  text-align: center;
  font-family: 'Lato';
  font-weight: 400;
  color: #919599;
  padding-left: 136px;
  padding-right: 28px;
  padding-top: 12px;
  display: inline-block;
}
.list8 {
  font-size: 14px;
  text-align: left;
  font-family: 'Lato';
  font-weight: 400;
  color: #919599;
  padding-left: 29px;
  padding-top: 20px;
  padding-bottom: 19px;
  float: left;
}
.list9 {
  width: 56px;
  height: 32px;
  font-size: 13px;
  text-align: center;
  font-family: 'Lato';
  font-weight: 400;
  color: #919599;
  padding-left: 134px;
  padding-right: 26px;
  padding-top: 12px;
  display: inline-block;
}
.list10 {
  font-size: 16px;
  padding-top: 19px;
  padding-right: 79px;
  text-align: left;
  font-family: 'Lato';
  font-weight: 400;
  color: #363F45;
}
.list10 h5 {
  padding-top: 19px;
  padding-right: 79px;
  line-height: 19px;
  font-size: 16px;
  font-family: 'Lato';
  font-weight: 700;
  color: #363F45;
}
.container {
  padding-top: 21px;
  padding-right: 30px;
  background-color: #FFFFFF;
  float: right;
}
.container.input {
  display: inline-block;
}
/*input[type=checkbox] {
  zoom: 1.5;
}*/
.checkbox {
  width: 17px;
  height: 17px;
}
.image {
  padding-top: 21px;
  padding-right: 30px;
  float: right;
}
.container1 {
  /* left: 0%;*/
  right: -8%;
  position: absolute;
  width: 32px;
  height: 24px;
  border: 1px solid #5FCCC1;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #5FCCC1;
  margin-left: 124px;
  margin-top: -32px;
}
.container1::after{ /*pseudo class*/
  position: absolute;
  width: 6px;
  height: 6px;
  border: 1px solid #5FCCC1;
  top: 100%;
  left: 50%;
  margin-left: -4px;
  content: "";
  transform: rotate(45deg);
  margin-top: -4px;
  background-color: #5FCCC1; /*removing line from diamond*/
  border-top: 0px solid #5FCCC1; /*removing top border from diamond*/
  border-left: 0px solid #5FCCC1; /*removing left border from diamond*/
}
.container2 {
  /* left: 0%;*/
  right: -6%;
  position: absolute;
  width: 32px;
  height: 24px;
  border: 1px solid #5FCCC1;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #5FCCC1;
  margin-left: 172px;
  margin-top: -32px;
}
.container2:after{ /*pseudo class*/
  position: absolute;
  width: 6px;
  height: 6px;
  border: 1px solid #5FCCC1;
  top: 100%;
  left: 50%;
  margin-left: -4px;
  content: "";
  transform: rotate(45deg);
  margin-top: -4px;
  background-color: #5FCCC1; /*removing line from diamond*/
  border-top: 0px solid #5FCCC1; /*removing top border from diamond*/
  border-left: 0px solid #5FCCC1; /*removing left border from diamond*/
}
.container3 {
  /* left: 0%;*/
  right: -10%;
  position: absolute;
  width: 32px;
  height: 24px;
  border: 1px solid #5FCCC1;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #5FCCC1;
  margin-left: 86px;
  margin-top: -32px;
}
.container3:after { /*pseudo class*/
  position: absolute;
  width: 6px;
  height: 6px;
  border: 1px solid #5FCCC1;
  top: 100%;
  left: 50%;
  margin-left: -4px;
  content: "";
  transform: rotate(45deg);
  margin-top: -4px;
  background-color: #5FCCC1; /*removing line from diamond*/
  border-top: 0px solid #5FCCC1; /*removing top border from diamond*/
  border-left: 0px solid #5FCCC1; /*removing left border from diamond*/
}
footer {
   background-color: #384B59;
}
.container-inner p {
 font-size: 11px;
 text-align: right;
 font-family: 'Lato';
 font-weight: 400;
 color: #9CAAB4;
 padding-top: 15px;
 padding-bottom: 16px;     
}